.footer
{
    padding-top: 135px;
    padding-bottom: 74px;

    &__text
    {
        text-align: center;
        padding-bottom: 151px;
        border-bottom: 1px solid rgba(0,0,0,0.1032);
        margin-bottom: 61px;
    }

    &__descr
    {
        display: block;
        width: 570px;
        margin: 12px auto 32px auto;
        @include font(600,16px);
    }

    &__form
    {
        margin: auto;
        display:flex;
        justify-content: center;
        width: 570px;
    }

    &__mail
    {
        padding-left: 16px;
        margin-right: 30px;
        border: 1px solid #DADADA;
        border-radius: 3px;
        width: 370px;
    }

    &__row
    {
        display:flex;
        justify-content: start;
        align-items: flex-end;

        &-item
        {
            width: 300px;
            display: flex;
            flex-direction: column;
        }

        &-title
        {
            @include font(600,16px);
        }

        &-link
        {
            margin-top: 8px;
            @include descr;
            text-decoration: none;

            &:hover
            {
                opacity: 80%;
                text-decoration: underline;
            }
        }
    }

    &__sm
    {
        display: flex;
        margin-bottom: 14px;

        &-link:not(:last-child)
        {
            margin-right: 8px;
        }
    }

    &__copyright
    {
        @include descr();
    }
}