/*common*/
body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 1170px;
  margin: 0px auto;
  position: relative;
}

.section__title {
  font-weight: 700;
  font-size: 56px;
  color: #333333;
  font-family: Poppins;
}

.button {
  font-weight: 700;
  font-size: 16px;
  background-color: #C86DD7;
  width: 170px;
  height: 48px;
  border-radius: 24px;
  color: white;
  border: 0;
}

.button_yellow {
  background-color: #FFC300;
  margin-top: 34px;
}

.header {
  background: #3023ae;
  background: linear-gradient(202deg, #3023ae 0%, #c86dd7 100%);
  padding-top: 30px;
  padding-bottom: 48px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

.header__nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.header__nav-link:hover {
  -webkit-text-decoration: underline 2px solid rgba(0, 0, 0, 0.2);
          text-decoration: underline 2px solid rgba(0, 0, 0, 0.2);
}

.header__logo {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}

.header__row {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 414px;
}

.header__img {
  margin-bottom: -165px;
}

.header__links {
  position: absolute;
  right: 0;
}

.header__list {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 72px;
  color: #fff;
  margin-bottom: 26px;
  margin-top: 86px;
}

.main__subtitle {
  font-weight: 600;
  font-size: 16px;
  color: white;
  width: 370px;
  margin-bottom: 2px;
}

.main__footer {
  position: relative;
}

.button__nav {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.quis {
  margin-top: 141px;
  margin-bottom: 186px;
}

.quis__text {
  width: 50%;
}

.quis__text-up {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  margin-top: 45px;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.quis__list {
  margin-top: 39px;
  width: 40.17%;
}

.quis__list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  margin-top: 16px;
  position: relative;
}

.quis__list-title {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  margin-right: 8px;
}

.quis__list-title_underline {
  height: 8px;
  width: 161px;
  background-color: #C86DD7;
  position: absolute;
  z-index: -1;
  bottom: 1px;
}

.quis__list-marker {
  width: 10px;
  height: 6px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.quis__list-marker_open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.quis__descr {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  opacity: 49.8%;
}

.quis__video {
  width: 705px;
  height: 544px;
  position: absolute;
  right: 0%;
  -webkit-transform: translateY(-77%);
          transform: translateY(-77%);
  background: #3023ae;
  background: linear-gradient(202deg, #3023ae 0%, #c86dd7 100%);
}

.quis__video-img {
  position: absolute;
  right: 0%;
  top: -32px;
  width: 672px;
  height: 544px;
}

.quis__play {
  position: absolute;
  bottom: 43%;
  left: -5%;
}

.ullam {
  background-color: #F2F2F2;
  padding-top: 61px;
  padding-bottom: 48px;
}

.ullam__header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ullam__descr {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  opacity: 49.8%;
  width: 50%;
}

.ullam__subtitle {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 18px;
}

.ullam__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
  margin-bottom: 42px;
  width: 45%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0;
}

.ullam__nav-item {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  opacity: 49.8%;
}

.ullam__nav-item_active {
  font-weight: 600;
  color: black;
  opacity: 100%;
}

.ullam__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.ullam__row-img {
  width: 370px;
  height: 272px;
}

.ullam__row-img:hover::before {
  display: block;
  background-color: rgba(49, 0, 57, 0.8);
}

.ullam__button {
  display: block;
  margin: 0px auto;
}

.quo {
  margin-top: 71px;
  margin-bottom: 80px;
  text-align: center;
}

.quo__descr {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  width: 48.7%;
  margin: 23px auto 32px auto;
}

.quo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quo__row-upper {
  text-align: center;
}

.quo__row-wrapper {
  display: inline-block;
  position: relative;
}

.quo__row-item {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 32px;
  width: 31.6%;
  height: 224px;
}

.quo__row-item:hover {
  -webkit-box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
          box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}

.quo__row-item:hover .quo__row_underline {
  height: 8px;
  width: 100%;
  background-color: #C86DD7;
  position: absolute;
  z-index: -1;
  bottom: 3px;
}

.quo__row-title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  margin: 0;
  display: inline-block;
  z-index: 2;
  position: relative;
  font-family: Poppins;
}

.quo__row-descr {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  opacity: 49.8%;
  margin-right: 32px;
  margin-left: 32px;
}

.repell {
  background-color: #3023AE;
  position: relative;
  z-index: 1;
}

.repell__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 160px;
  padding-bottom: 212px;
}

.repell__team {
  margin-left: 69px;
  margin-right: 200px;
  width: 38.84%;
  height: 396px;
}

.repell__title {
  color: white;
  width: 30.68%;
}

.repell__subtitle {
  color: white;
  font-weight: 700;
  font-size: 16px;
  font-family: Poppins;
  text-transform: uppercase;
  margin-top: 23px;
}

.repell__descr {
  color: white;
  font-weight: 600;
  font-size: 16px;
  font-family: Poppins;
}

.repell__oval-up {
  top: -4%;
  -webkit-transform: translateX(350%);
          transform: translateX(350%);
  position: absolute;
}

.repell__oval-corner {
  position: absolute;
  height: 201px;
  bottom: 0;
}

.repell__oval-center {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 45%;
  position: absolute;
}

.officis {
  text-align: center;
  margin-top: 71px;
  margin-bottom: 95px;
}

.officis__descr {
  margin: 23px auto 64px auto;
  font-weight: 600;
  font-size: 16px;
  display: block;
  width: 48.7%;
}

.officis__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.officis__row-item {
  width: 31.62%;
  padding: 32px;
  text-align: left;
}

.officis__row-item:hover {
  -webkit-box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
          box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
  border-radius: 3px;
}

.officis__row-descr {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  opacity: 49.8%;
  margin-top: 14px;
  margin-bottom: 16px;
}

.officis__row-name {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}

.officis__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.officis__company:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.0994678);
}

.officis__company-logo {
  height: 34px;
}

.nisi {
  padding-top: 173px;
  padding-bottom: 240px;
  background-color: #faf8e8;
}

.nisi__text {
  width: 39.83%;
}

.nisi__subtitle {
  font-weight: 700;
  font-size: 16px;
  font-family: Poppins;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.nisi__descr {
  font-weight: 600;
  font-size: 16px;
  margin-top: 23px;
  margin-bottom: 44px;
}

.nisi__image {
  position: absolute;
  background: #3023ae;
  background: linear-gradient(202deg, #3023ae 0%, #c86dd7 100%);
  right: 30px;
  width: 570px;
  height: 544px;
  -webkit-transform: translateY(-77%);
          transform: translateY(-77%);
}

.nisi__image-img {
  position: absolute;
  right: -30px;
  top: -32px;
  width: 570px;
  height: 544px;
}

.nisi__image-text {
  position: absolute;
  bottom: 14.3%;
  left: 13.6%;
}

.nisi__image-title {
  font-weight: 700;
  font-size: 24px;
  font-family: Poppins;
  color: white;
}

.nisi__image-descr {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  opacity: 49.8%;
  color: white;
  width: 474px;
  margin-top: 9px;
  margin-bottom: 16px;
}

.nisi__image-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nisi__image-name {
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-left: 20px;
}

.footer {
  padding-top: 135px;
  padding-bottom: 74px;
}

.footer__text {
  text-align: center;
  padding-bottom: 151px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1032);
  margin-bottom: 61px;
}

.footer__descr {
  display: block;
  width: 570px;
  margin: 12px auto 32px auto;
  font-weight: 600;
  font-size: 16px;
}

.footer__form {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39.58%;
}

.footer__mail {
  padding-left: 16px;
  margin-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #DADADA;
  border-radius: 3px;
  width: 370px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__row-item {
  width: 25.64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__row-title {
  font-weight: 600;
  font-size: 16px;
}

.footer__row-link {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  opacity: 49.8%;
  text-decoration: none;
}

.footer__row-link:hover {
  opacity: 80%;
  text-decoration: underline;
}

.footer__sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.footer__sm-link:not(:last-child) {
  margin-right: 8px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  opacity: 49.8%;
}

@media screen and (max-width: 375px) {
  .container {
    margin-left: 14px;
    margin-right: 15px;
    width: 92%;
  }
  .container__nav {
    margin: 0;
    width: 100%;
  }
  .section__title {
    font-size: 40px;
  }
  /*header*/
  .header {
    padding-bottom: 32px;
    padding-top: 0;
  }
  .header__nav {
    background-color: #fff;
    padding: 16px 14px 16px 15px;
    margin: 0;
  }
  .header__logo {
    color: black;
    font-size: 24px;
    padding: 0;
  }
  .header__row {
    display: none;
  }
  .header__list {
    display: block;
    width: 20px;
    height: 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__img {
    margin-right: -58px;
    margin-bottom: -127px;
    margin-top: 16px;
  }
  .header__links {
    left: 33%;
  }
  .main {
    display: block;
  }
  .main__title {
    font-size: 56px;
    margin: 23px auto;
  }
  .main__subtitle {
    width: 100%;
  }
  .button__nav {
    display: none;
  }
  /*quis*/
  .quis {
    padding-top: 45px;
    padding-bottom: 394px;
    margin: auto;
    position: relative;
  }
  .quis__text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 17px;
  }
  .quis__list {
    width: 100%;
    margin-top: 0;
  }
  .quis__descr {
    margin-top: 8px;
    margin-bottom: 6px;
  }
  .quislist-title:not(:first-child) {
    margin-top: 24px;
  }
  .quis__video {
    width: 355px;
    height: 272px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    bottom: 48px;
  }
  .quis__video-img {
    width: 339px;
    height: 272px;
  }
  .quis__play {
    width: 58px;
    left: 43%;
    bottom: 50%;
  }
  /*ullam*/
  .ullam {
    padding-top: 29px;
    padding-bottom: 48px;
  }
  .ullam__header-title {
    display: block;
  }
  .ullam__descr {
    width: 100%;
  }
  .ullam__nav {
    margin-top: 22px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .ullam__nav-item {
    margin-top: 24px;
  }
  .ullam__nav-item:not(:last-child) {
    margin-right: 9.25%;
  }
  .ullam__nav-item_active {
    margin-right: 8.96%;
  }
  .ullam__row {
    margin-bottom: 16px;
  }
  .ullam__row-img {
    width: 100%;
    margin-bottom: 18px;
  }
  /*quo*/
  .quo {
    padding-bottom: 34px;
    padding-top: 38px;
  }
  .quo__descr {
    width: 100%;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 31px;
  }
  .quo__row-item {
    width: 100%;
    height: 208px;
    padding-top: 23px;
    padding-bottom: 30px;
    margin-top: 3px;
  }
  /*repell*/
  .repell__content {
    display: block;
    padding-top: 87px;
    padding-bottom: 80px;
  }
  .repell__team {
    width: 100%;
    margin: auto;
    height: auto;
    margin-bottom: 12px;
  }
  .repell__title {
    width: 100%;
    margin-bottom: 24px;
  }
  .repell__descr {
    margin-bottom: -3px;
  }
  .repell__oval-up {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    right: 0%;
  }
  /*officis*/
  .officis {
    margin-top: 54px;
    margin-bottom: 20px;
  }
  .officis__descr {
    width: 100%;
    margin-bottom: 32px;
    margin-top: 24px;
  }
  .officis__row-item {
    width: 100%;
    padding: 32px 30px 42px 30px;
  }
  .officis__companies {
    margin-top: 0;
  }
  .officis__company {
    width: 50%;
  }
  .officis__company-logo {
    height: auto;
    margin-top: 33px;
  }
  /*nisi*/
  .nisi {
    padding-top: 45px;
    padding-bottom: 432px;
  }
  .nisi__text {
    width: 100%;
  }
  .nisi__subtitle {
    margin-bottom: 17px;
  }
  .nisi__descr {
    margin-top: 24px;
    margin-bottom: 29px;
  }
  .nisi__image {
    width: 329px;
    height: 316px;
    right: 0;
    -webkit-transform: translateY(49px);
            transform: translateY(49px);
  }
  .nisi__image-img {
    right: -17px;
    top: -19px;
    width: 329px;
    height: 316px;
  }
  .nisi__image-descr {
    width: 274px;
    margin-bottom: 21px;
  }
  /*footer*/
  .footer {
    padding-top: 70px;
    padding-bottom: 58px;
  }
  .footer__text {
    padding-bottom: 64px;
    margin-bottom: 21px;
  }
  .footer__descr {
    width: 92%;
    margin-top: 24px auto 30px auto;
  }
  .footer__form {
    width: 100%;
    margin-left: 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__mail {
    width: 100%;
    margin-bottom: 16px;
  }
  .footer__row {
    display: block;
  }
  .footer__row-item {
    width: 100%;
    margin-top: 40px;
  }
  .footer__media {
    margin-top: 58px;
  }
}
